DATABASE_URL= postgresql+asyncpg://juju:password@db:5432/juju
REDIS_URL= redis://redis:6379/0
SECRET_KEY= troque-por-uma-string-aleatoria-longa
ACCESS_TOKEN_EXPIRE_MINUTES= 10080
CELERY_BROKER_URL= redis://redis:6379/0
CELERY_RESULT_BACKEND= redis://redis:6379/0